@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

:root{
    --primary--color: darkgrey;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Oswald', sans-serif;
    color: darkgreen;
    line-height: 1.6;

}
ul{
    list-style-type:none;
}
a{
    text-decoration: none;
    color: darkgreen;
}
h1, h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
    
}
p{
    margin: 10px 0;
}
img{
    margin-top: 30;
    width: 60%;
}
.showcase-text{
    margin-left: 15px;
}
.navbar{
    background-color: darkgrey;
    color:darkgreen;
    height: 70px;
}
.navbar ul{
    display: flex;
    
}
.navbar a{
    color:darkgreen;
    padding: 10px;
    margin: 0 5px;
}
.navbar a:hover{
    border-bottom: 2px darkgreen solid;
}
.navbar .flex{
    justify-content: space-between;
}

.showcase{
    height: 400px;
    background-color:var(--primary--color);
    color: darkgreen;
    position: relative;
}

.showcase h1 {
    font-size: 40px;
}
.showcase p{
    margin: 20px 0;
}
.showcase .grid{
    grid-template-columns: 55% 45%;
    gap:30px;
    overflow: visible;
}
.showcase-form{
    position: relative;
    top: 60px;
    height: 400px;
    padding: 40px;
    z-index: 100;
}
.showcase-form .form-control{
    margin: 30px 0;
} 
.showcase-form input[type='text'],
.showcase-form input[type='email']{
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}
.showcase input:focus{
    outline: none;
}
.showcase::before,
.showcase::after{
    content: "";
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background-color: white;
    transform: skewY(-3deg);
    --webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}
.stats-heading{
    padding-top: 100px;
}
.stats .grid h3{
   font-size: 35px;
}
.stats .grid{
    font-weight: bold;
}
.cli .grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.cli .grid > :first-child{
    grid-column: 1 /span 2;
    
}
